* {
  margin: 0;
  padding: 0;
}

html, body {
  display: flex;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #f7f8fa;
}

.left-background {
  background-image: url(images/aedrian-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 40%;
  align-items: flex-start;
  justify-content: center;
}

.sidebar {
  top: 150px;
  margin-top: 180px;
  background-color: #0000005d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-text {
  width: 580px;
}

.top-text > h3 {
  margin: 20px 0;
}


.sidebar-logo {
  height: 150px;
  width: auto;
}

.right-background {
  margin-left: 35px;
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: center;
}

.middle-section {
  position: relative;
  right: 35px;
  width: 100%;
  background-color: white;
  padding: 10px 35px 20px;
  -webkit-box-shadow: 0 8px 6px -6px gray;
  -moz-box-shadow: 0 14px 6px -6px gray;
  box-shadow: 0 8px 10px -7px gray;
}

.middle-section > h3 {
  margin: 15px 0 10px 0;
}

form {
  display: flex;
  flex-direction: column;
}
form > div {
  display: flex;
}

label {
  margin-top: 15px;
  display: block;
  font-size: 8px;
  font-weight: bold;
  letter-spacing: 1px;
}

input {
  margin-right: 40px;
}

button {
  background-color: #bf8040;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  border: none;
  margin: 20px 0;
  padding: 10px 40px 12px 40px;
  box-shadow: 3px 3px rgba(224, 224, 224, 0.8)
}

button:hover {
  cursor: pointer;
}

